/*--------------------
| Justine's Additions |
 --------------------*/
// INDEX
  // overwrites:  /css/main.scss
  //              /_sass/boostrap/_jumbotron.scss
.jumbotron {
  padding-top:    ($jumbotron-padding * 1.6);
}

.header-container {
  .header-text {
    background-color: rgba(255, 255, 255, .9);
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
   h1 {
     color: #333;
     margin-top: 10px;
   }
   .btn {
     text-transform: uppercase;
   }
  background-position: center 18%;
}

.footer {
  height: auto;
}


// TOP NAVIGATION
  // overwrites:  /_sass/boostrap/_navbar.scss
.navbar-nav {
  h4 {
    padding-left: 10px;
    text-transform: uppercase;
  }
  > li > a {
    padding-top: 17px;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    .open .dropdown-menu {
      box-shadow: none;
      background-color: $dropdown-bg;
      margin: 0 20px 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: calc(100% - 30px);
      > li > a {
        color: $dropdown-link-color !important;
      }
    }
  }
}
.icon-nav li {
 display: inline-block;
 }
