/*--------------------
| Justine's Additions |
 --------------------*/
 // GLOBAL
:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
   font-family: Helvetica, Arial, sans-serif;
 }

// INDEX
  // overwrites:  /css/main.scss
  //              /_sass/boostrap/_jumbotron.scss
.jumbotron {
  padding-top:    ($jumbotron-padding * 1.6);
}

.header-container {
  .header-text {
    background-color: rgba(255, 255, 255, .9);
    color: #333;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
   h1 {
     color: #333;
     margin-top: 10px;
   }
   .btn {
     text-transform: uppercase;
   }
  background-position: center 18%;
}

.footer {
  height: auto;
}


// TOP NAVIGATION
  // overwrites:  /_sass/boostrap/_navbar.scss
.navbar-brand {
    font-family: $font-family-sans-serif !important;
  }
.navbar-nav {
  h4 {
    padding-left: 10px;
    text-transform: uppercase;
  }
  > li > a {
    padding-top: 17px;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    .open .dropdown-menu {
      box-shadow: none;
      background-color: $dropdown-bg;
      margin: 0 20px 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      > li > a {
        color: $dropdown-link-color !important;
      }
    }
  }
}
@media (max-width: $grid-float-breakpoint-max) {
  .icon-nav li {
    float: left;
    margin-top: -($navbar-padding-vertical / 2);
 }
}
